<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>bEAN</title>
	<link rel="stylesheet" href="css/style.css">
	<!-- Add css bower-components here -->
</head>

<body>
	<h1>bEAN - boilerplate for express, angular and node</h1>
	<nav>
		<a href="#/red">Red</a>
		<a href="#/blue">Blue</a>
	</nav>
	<div ng-view></div>

	<a style="color:white;" href="https://github.com/skarchr/bEAN" target="_blank">GitHub</a>

	<!-- Add js bower-components here -->
	<script src="bundle.js"></script>
</body>

</html>